.theme-showcase {
    margin-top: 5em;
}

tr td code {
    background-color: transparent;
}

tr.reverted td {
    color: #bbb;
}

tr.reverted td code {
    color: #bbb;
}

a .red {
    color: red;
}

span.gold {
    color: goldenrod;
}
